[submodule "mesaYa/frontend"]
	path = mesaYa/frontend
	url = https://github.com/StevSant/mesaYa_frontend.git
[submodule "actividad/02_arq_domunio_respo_grupal"]
	path = actividad/02_arq_domunio_respo_grupal
	url = https://github.com/GINGERPEREZ/Practica2MB.git
[submodule "mesaYa/mesa-ya-res"]
	path = mesaYa/mesa-ya-res
	url = https://github.com/lesquel/mesaYa_Res.git
[submodule "actividad/03_orm_domain"]
	path = actividad/03_orm_domain
	url = https://github.com/lesquel/domain_orm.git
[submodule "actividad/04_rest_domain"]
	path = actividad/04_rest_domain
	url = https://github.com/lesquel/actividad_rest_domain_nest.git
